h2{
    margin-top: 30px;
    font-size: 23px;
}

h6{
    font-size: 23px;
    color: coral;
}

h3{
    font-size: 23px;
}

button{
    font-size: 23px;
    color: dimgray;
}

accordion-group{
    font-size: 23px;
}

.heading{
    font-size: 23px;
}

body{
    background-color: #e9ecef;
}
