<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #prenotazioneForm="ngForm">
        
        <div class="form-group">
          <label for="centro">Centro</label>
          <input type="text" [(ngModel)]="prenotazioneForm.centro" 
            class="form-control"
            id="centro"
            name="centro"
            placeholder="Inserisci il centro dove vuoi effettuare la donazione"
            required #centro="ngModel">
        </div>
        <div [hidden]="!centro.pristine" class="alert alert-danger">Un centro deve essere inserito</div>
        
        <div class="form-group">
          <label for="compleanno">Data di Nascita</label>
          <input type="text" [(ngModel)]="prenotazioneForm.compleanno" 
            class="form-control"
            id="compleanno"
            name="compleanno"
            placeholder="Inserisci la tua data di nascita"
            required #compleanno="ngModel">
          <div [hidden]="!compleanno.pristine" class="alert alert-danger">Devi inserire la tua data di nascita</div>
        </div>

        <div class="form-group">
            <label for="telefono">Numero di telefono</label>
            <input type="text" [(ngModel)]="prenotazioneForm.telefono" 
              class="form-control"
              id="telefono"
              name="telefono"
              placeholder="Inserisci il tuo numero di telefono"
              required #telefono="ngModel">
            <div [hidden]="!telefono.pristine" class="alert alert-danger">Devi inserire il tuo numero di telefono</div>
          </div>

          <div class="form-group">
            <label for="statosalute">Stato di Salute</label>
            <input type="text" [(ngModel)]="prenotazioneForm.statosalute" 
              class="form-control"
              id="statosalute"
              name="statosalute"
              placeholder="Scrivi qua il tuo stato di salute"
              required #statosalute="ngModel">
            <div [hidden]="!statosalute.pristine" class="alert alert-danger">Devi inserire il tuo stato di salute</div>
          </div>

          <div class="form-group">
            <label for="note">Inserisci una nota (opzionale)</label>
            <input type="text" [(ngModel)]="prenotazioneForm.note" 
              class="form-control"
              id="note"
              name="note"
              placeholder="Scrivi qua una nota"
              required #note="ngModel">
            <div [hidden]="!note.pristine" class="alert alert-danger">Devi inserire una nota</div>
          </div>



        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
