<div class="container">
  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>FORM PER LA DONAZIONE DEL SANGUE</b></p>
  </div>
  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #prenotazioneFormForm="ngForm">

        <div class="form-group">
          <label for="centro">Centro*</label>
          <select [(ngModel)]="prenotazioneForm.centro" class="form-control" id="centro" name="centro" required
            #centro="ngModel">
            <option value="Avis Ancona">Avis Ancona</option>
            <option value="Avis Ascoli Piceno">Avis Ascoli Piceno</option>
            <option value="Avis Comunale di Fermo">Avis Comunale di Fermo</option>
            <option value="Avis Macerata">Avis Macerata</option>
            <option value="Avis Pesaro e Urbino">Avis Pesaro e Urbino</option>
          </select>
          <div *ngIf="centro.invalid && (centro.dirty || centro.touched)" class="alert alert-danger">
            <div *ngIf="centro.errors.required">
              Devi inserire un centro
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="centro">Data*</label>
          <input type="text" [(ngModel)]="prenotazioneForm.compleanno" class="form-control" id="compleanno"
            name="compleanno" placeholder="Inserisci la data in cui si vuole effettuare la donazione" required
            #compleanno="ngModel" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker
            [(bsValue)]="myDateValue">
          <div *ngIf="compleanno.invalid && (compleanno.dirty || compleanno.touched)" class="alert alert-danger">
            <div *ngIf="compleanno.errors.required">
              Devi inserire una data dal calendario
            </div>
          </div>
        </div>

        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" [(ngModel)]="prenotazioneForm.name" required minlength="2" class="form-control" id="name" name="name"
              placeholder="Enter your name" required #name="ngModel">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                  <div *ngIf="name.errors.required">
                      Devi scrivere Il nome.
                  </div>
                  <div *ngIf="name.errors.minlength">
                      Il nome deve essere lungo almeno 2 caratteri.
                  </div>
              </div>
        </div>
    
          <div class="form-group">
            <label for="lastName">Cognome*</label>
            <input type="text" [(ngModel)]="prenotazioneForm.lastname" required minlength="2" class="form-control" id="lastName" name="lastName"
              placeholder="Enter your last name" required #lastName="ngModel">
              <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                  <div *ngIf="lastName.errors.required">
                      Devi scrivere Il cognome.
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                      Il cognome deve essere lungo almeno 2 caratteri.
                  </div>
              </div>
          </div>
    
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" [(ngModel)]="prenotazioneForm.email" class="form-control" id="email" name="email"
              placeholder="Enter your email address" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                  <div *ngIf="email.errors.required">
                      Devi scrivere una e-mail.
                  </div>
                  <div *ngIf = "email.errors?.pattern">
                     L'email non sembra essere corretta.
                  </div>
              </div>
          </div>
    
          <div class="form-group">
            <label for="stato">CAP*</label>
              <select [(ngModel)]="prenotazioneForm.stato" class="form-control" id="stato" name="stato"
              placeholder="Enter your CAP" required #stato="ngModel" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected value="Ancona">Ancona 60131</option>
                <option value="Ascoli Piceno">Ascoli Piceno 63100</option>
                <option value="Fermo">Fermo 63100</option>
                <option value="Macerata">Macerata 62100</option>
                <option value="Pesaro e Urbino">Pesaro e Urbino 61049</option>
              </select>
              <div *ngIf="stato.invalid && (stato.dirty || stato.touched)" class="alert alert-danger">
                  <div *ngIf="stato.errors.required">
                      Devi inserire il tuo CAP.
                  </div>
                </div>
    
            </div>

        <div class="form-group">
          <label for="telefono">Numero di telefono*</label>
          <input type="text" [(ngModel)]="prenotazioneForm.telefono" class="form-control" id="telefono" name="telefono"
            placeholder="Inserisci il tuo numero di telefono" required minlength="8" required #telefono="ngModel">
          <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
            <div *ngIf="telefono.errors.required">
              Devi scrivere il tuo numero di telefono
            </div>
            <div *ngIf="telefono.errors.minlength">
              Il numero di telefono deve essere lungo almeno 2 caratteri
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="statosalute">Hai avuto problemi da evidenziare?*</label>
          <input type="text" [(ngModel)]="prenotazioneForm.statosalute" class="form-control" id="statosalute"
            name="statosalute" placeholder="Scrivi qua il tuo stato di salute" required #statosalute="ngModel">
          <div *ngIf="statosalute.invalid && (statosalute.dirty || statosalute.touched)" class="alert alert-danger">
            <div *ngIf="statosalute.errors.required">
              Scrivi se hai avuto problemi, se non ne hai avuti scrivi: niente
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="note">Inserisci una nota (opzionale)</label>
          <input type="text" [(ngModel)]="prenotazioneForm.note" class="form-control" id="note" name="note"
            placeholder="Scrivi qua una nota">
        </div>

        <div class="form-group">
          <label for="donazioneEmergenza">Donazione d'emergenza*</label>
          <select [(ngModel)]="prenotazioneForm.donazioneEmergenza" class="form-control" id="donazioneEmergenza"
            name="donazioneEmergenza" placeholder="Inserisci la risposta alla donazione d'emergenza" required
            #donazioneEmergenza="ngModel">
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
          <div *ngIf="donazioneEmergenza.invalid && (donazioneEmergenza.dirty || donazioneEmergenza.touched)" class="alert alert-danger">
              <div *ngIf="donazioneEmergenza.errors.required">
                 Devi rispondere si o no
                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"
          [disabled]="!prenotazioneFormForm.form.valid" class="btn btn-info">Submit</button>

        <div class="container" style="margin-top:30px;">
          * = campi obbligatori
        </div>

        <div class="row" style="margin-top: 30px;" *ngIf="showMsg">
          <div class="col-xs-12">
            <div class="alert alert-success">
              <p>
                <strong>La prenotazione è stata registrata.
                </strong>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>