
<div class ="container">
  <div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
<p><b>FORM PER LA DONAZIONE DEL SANGUE</b></p>
  </div>
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #prenotazioneForm="ngForm">
        
        <div class="form-group">
         <label for="centro">Centro</label>
        <select [(ngModel)]="prenotazioneForm.centro" class="form-control" id="centro" name="centro"
        placeholder="Inserisci il tuo centro" required #centro="ngModel" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected value="Italia">Avis Ancona</option>
          <option value="Romania">Avis Civitanova Marche</option>
          <option value="Spagna">Avis Comunale di Fermo</option>
          <option value="Germania">Avis Senigallia</option>
          <option value="Austria">Avis Fabriano</option>
        </select>
        <div [hidden]="!centro.pristine" class="alert alert-danger">Devi inserire un centro</div>
      </div>
       
      <div class="form-group">
          <label for="centro">Data</label>
          <input type="text" [(ngModel)]="prenotazioneForm.compleanno" 
          class="form-control"
          id="compleanno"
          name="compleanno"
          placeholder="Inserisci la data in cui si vuole effettuare la donazione"
          required #compleanno="ngModel"     
          [minDate]="minDate"
          [maxDate]="maxDate"
          #dp="bsDatepicker"
          bsDatepicker [(bsValue)]="myDateValue">
        <div [hidden]="!compleanno.pristine" class="alert alert-danger">Inserisci la data per la donazione</div>  
    </div>

        <!--<div class="form-group">
          <label for="compleanno">Data di Nascita</label>
          <input type="text" [(ngModel)]="prenotazioneForm.compleanno" 
            class="form-control"
            id="compleanno"
            name="compleanno"
            placeholder="Inserisci la tua data di nascita"
            required #compleanno="ngModel">
          <div [hidden]="!compleanno.pristine" class="alert alert-danger">Devi inserire la tua data di nascita</div> 
        </div>
      -->

        <div class="form-group">
            <label for="telefono">Numero di telefono</label>
            <input type="text" [(ngModel)]="prenotazioneForm.telefono" 
              class="form-control"
              id="telefono"
              name="telefono"
              placeholder="Inserisci il tuo numero di telefono"
              required #telefono="ngModel">
            <div [hidden]="!telefono.pristine" class="alert alert-danger">Devi inserire il tuo numero di telefono</div>
          </div>

          <div class="form-group">
            <label for="statosalute">Stato di Salute</label>
            <input type="text" [(ngModel)]="prenotazioneForm.statosalute" 
              class="form-control"
              id="statosalute"
              name="statosalute"
              placeholder="Scrivi qua il tuo stato di salute"
              required #statosalute="ngModel">
            <div [hidden]="!statosalute.pristine" class="alert alert-danger">Devi inserire il tuo stato di salute</div>
          </div>

          <div class="form-group">
            <label for="note">Inserisci una nota (opzionale)</label>
            <input type="text" [(ngModel)]="prenotazioneForm.note" 
              class="form-control"
              id="note"
              name="note"
              placeholder="Scrivi qua una nota"
              required #note="ngModel">
            <div [hidden]="!note.pristine" class="alert alert-danger">Devi inserire una nota</div>
          </div>

          <div class="form-group">
            <label for="donazioneEmergenza">Donazione d'emergenza</label>
           <select [(ngModel)]="prenotazioneForm.centro" class="form-control" id="donazioneEmergenza" name="donazioneEmergenza"
           placeholder="Inserisci la risposta alla donazione d'emergenza" required #donazioneEmergenza="ngModel" class="custom-select my-1 mr-sm-2">
             <option selected value="Italia">NO</option>
             <option value="Romania">SI</option>
           </select>
           <div [hidden]="!donazioneEmergenza.pristine" class="alert alert-danger">Devi inserire una risposta</div>
         </div>



        <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>
