<div class="Divisore" style="margin-top: 30px;">
        <div style="TEXT-ALIGN: CENTER ;">
            <h1>Come Donare</h1>
        </div>
        <br>
        <br>
      
<div class="video-container">
        <div class="col-xs-12 video-responsive" align="center" style="align-content: center; margin: 0px;">
            <iframe src="https://www.youtube.com/embed/OcGFBGY9_NA?autoplay=1" width="1400" height="789" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
    <br clear="all">
    <br>
    <br>
</div>