 <body>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" style="text-align: -webkit-center; ">

        <div class="form-group">
            <label for="userName">Username*</label>
            <input type="text" [(ngModel)]="user.username" required minlength="2" class="form-control" id="userName" name="userName"
              placeholder="Enter your username" required #username="ngModel">
              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                  <div *ngIf="username.errors.required">
                      Devi scrivere l'username.
                  </div>
                  <div *ngIf="username.errors.minlength">
                      Il nome deve essere lungo almeno 2 caratteri.
                  </div>
              </div>
        </div>
       
      <div class="form-group">
        <label for="password">Password*</label>
        <input type="password" [(ngModel)]="user.password"  required minlength="7" class="form-control" id="password" name="password"
          placeholder="Enter your password" required #password="ngModel">
          <div *ngIf="password.invalid && (lastName.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
              Devi scrivere la Password.
          </div>
        <div *ngIf="password.errors.minlength">
           La password deve essere lunga almeno 7 caratteri.
        </div>
        </div>
      </div>

      
      <button type="submit" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" 
      [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
      <div id="collapseBasic" [collapse]="isCollapsed" style="margin-top: 20px;">
      </div>

      <div class="container">
        * = campo obbligatorio
      </div>

      <div class="row" style="margin-top: 30px; width: 350px; height: 350px;" *ngIf="showMsg">
          <div class="col-xs-12">
            <div class="alert alert-success">
            <p>
                <strong>La registrazione è andata a buon fine.</strong>
            </p>
            <a routerLink="/login" >Vai alla pagina di login</a>
          </div>
          </div>
        </div>

    </form>
  </div>
</body>

