<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Centro</th>
            <th scope="col">Compleanno</th>
            <th scope="col">Numero di Telefono</th>
            <th scope="col">Stato di Salute</th>
            <th scope="col">Note</th>
            <th scope="col">donazione d'emergenza</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prenotazioneForm of prenotazioni">
            <td>{{ prenotazioneForm.id}}</td>
            <td>{{ prenotazioneForm.centro }}</td>
            <td>{{ prenotazioneForm.compleanno }}</td>
            <td>{{ prenotazioneForm.telefono }}</td>
            <td>{{ prenotazioneForm.statosalute }}</td>
            <td>{{ prenotazioneForm.note }}</td>
            <td>{{ prenotazioneForm.donazioneEmergenza }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
