<div class="Divisore2" style="margin-top: 30px;">
  <div style="TEXT-ALIGN: CENTER ;">
    <h3>Analisi del Sangue</h3>
  </div>


  <div class="card my-5">
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Globuli Rossi</th>
            <th scope="col">Globuli Bianchi</th>
            <th scope="col">Emoglobina</th>
            <th scope="col">Ematocrito</th>
            <th scope="col">Mcv(Volume corpuscolare)</th>
            <th scope="col">Mch(HB corpuscolare)</th>
            <th scope="col">Mchc(Conc HB media)</th>
            <th scope="col">Piastrine</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let AnalisiSangue of analisi">
            <td>{{ AnalisiSangue.id}}</td>
            <td>{{ AnalisiSangue.name}}</td>
            <td>
              <button [style.background-color]="toggleGlobuliRossi ? 'white' : 'red'" (click)="enableDisableRuleGlobuliRossi()">
                {{ AnalisiSangue.globuliRossi}}
              </button>
            </td>
            <td>
              <button [style.background-color]="toggleGlobuliBianchi ? 'white' : 'red'" (click)="enableDisableRuleGlobuliBianchi()">
                {{ AnalisiSangue.globuliBianchi}}
              </button>
            </td>
            <td>
              <button [style.background-color]="toggleEmoglobina ? 'white' : 'red'" (click)="enableDisableRuleEmoglobina()">
                {{ AnalisiSangue.emoglobina}}
              </button>
            </td>
            <td>
              <button [style.background-color]="toggleEmatocrito ? 'white' : 'red'" (click)="enableDisableRuleEmatocrito()">
                {{ AnalisiSangue.ematocrito}}
              </button>
            </td>
            <td>
              <button [style.background-color]="toggleMcv ? 'white' : 'red'" (click)="enableDisableRuleMcv()">
                {{ AnalisiSangue.mcv}}
              </button>
            </td>
            <td>
              <button [style.background-color]="toggleMch ? 'white' : 'red'" (click)="enableDisableRuleMch()">
                {{ AnalisiSangue.mch}}
              </button>
            </td>
            <td>
              <button [style.background-color]="toggleMchc ? 'white' : 'red'" (click)="enableDisableRuleMchc()">
                {{ AnalisiSangue.mchc}}
              </button>
            </td>
            <td>
              <button [style.background-color]="togglePiastrine ? 'white' : 'red'" (click)="enableDisableRulePiastrine()">
                {{ AnalisiSangue.piastrine}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>