<!--<form>
    <div>
        <div class="card"
            style="width: 18rem; margin-top:20px; margin-bottom: 20px; margin-left: 30px; margin-right: auto;">
            <div class="card-body">
                <h5 class="card-title">Fai il login se sei un utente già registrato</h5>
                <p class="card-text">Se non sei registrato premi il pulsante qua sotto</p>
                <a routerLink="/register" class="btn btn-primary">Registrati</a>
            </div>
        </div>
    </div>
    <div style="margin-right: 30px; margin-left: 30px;">
        <div class="form-group" >
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Non parlare a nessuno della tua e-mail.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
        </div>
        <button type="submit" class="btn btn-primary">Entra</button>
    </div>
</form>
-->

<body>    
    <div class="container" style=" height: 780px;">
        <div class="row" >
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Entra se sei già utente, altrimenti registrati</h5>

                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                    required autofocus>
                                <label for="inputEmail">Email address</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                    required>
                                <label for="inputPassword">Password</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                                in</button>
                            <hr class="my-4">
                        </form>

                        <form class="form-signin">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" routerLink="/user-form"><i 
                                    class="fab fa-google mr-2"></i>Registrati</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>