
<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid">email is required</div>
    </div>
    <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid">Password is required</div>
    </div>
    <div>
        <button [disabled]="loading">Login</button>
    </div>
</form>
<form class="form-signin">
    <button class="btn btn-lg btn-google btn-block text-uppercase" routerLink="/user-form"><i 
            class="fab fa-google mr-2"></i>Registrati</button>
</form>

<!--<body>    
    <div class="container" style=" height: 780px;">
        <div class="row" >
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Entra se sei già utente, altrimenti registrati</b></h5>

                        <form class="form-signin">
                            <div class="form-label-group">
                                    <p>E-mail</p>
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                    required autofocus>
                                <label for="inputEmail"></label>
                            </div>
                            <div class="form-label-group">
                                <p>Password</p>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                    required>
                                <label for="inputPassword"></label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                                in</button>
                            <hr class="my-4">
                        </form>

                        <form class="form-signin">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" routerLink="/user-form"><i 
                                    class="fab fa-google mr-2"></i>Registrati</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
-->