<div class ="container">

<div class="titolo" style="text-align: center;margin-top: 30px; font-size: 30px;">
    <p><b>Inserisci la prossima data disponibile per la donazione</b></p>
</div>
<div class="card-body">
    <form (ngSubmit)="onSubmit()" #donazioneForm="ngForm">
        <div class="form-group">
            <label for="data">Data</label>
            <input type="text" [(ngModel)]="donazione.data" class="form-control" id="data" name="data"
                placeholder="Inserisci la nuova data" required #data="ngModel">
        </div>

        <div class="form-group">
                <label for="ora">Ora</label>
                <input type="text" [(ngModel)]="donazione.ora" class="form-control" id="ora" name="ora"
                    placeholder="Inserisci il nuovo orario" required #ora="ngModel">
            </div>
            <div class="container" style="justify-content: center; margin-top: 30px;">
            <button type="submit" [disabled]="!userForm.form.valid" 
          class="btn btn-info">Submit</button>
        </div>
      </form>

</div>

<!--<div class="container" style="margin-bottom: 30px;">
        <a routerLink="/avis-page" class="btn btn-info">Torna alla pagina principale Avis</a>
      </div>
    -->