.carousel-inner {
    opacity: 1;
    background: black;
    }
    
.carousel-inner .item {
    opacity: 0.4;
   
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
}

.list-group-item{
    padding-top: 15px;
    margin-bottom: 15px;
    border-color: black;
}

.list-group{
    margin-bottom: 20px;
}

.immagine{
    display: block; 
    width: 1250px; 
    height: 500px;
}

@media (max-width: 310px){
    .immagine{
        width: 300px;
        height: 300px;
    }
}

.display-4{
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.carousel-inner .active {
    opacity: 1;
    
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
}

img{
    opacity: 0.9;
    filter: alpha(opacity=40);
}


#tuodiv {
    width: 100%; 
    max-height: none;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }




.table-container{
    overflow-x: scroll;
}

