

  <div class="jumbotron">

    <carousel>

      <slide style="text-align: -webkit-center;">
        <img src="assets/images/NovantaAnni.jpg" alt="first slide" style="display: block;">
      </slide>

      <slide style="text-align: -webkit-center;">
        <img src="assets/images/soci.jpg" alt="second slide" style="display: block;">
      </slide>

      <slide style="text-align: -webkit-center;">
        <img src="assets/images/AvisLogo.jpg" alt="third slide" style="display: block;">
      </slide>

    </carousel>

    <h1 class="display-4">La donazione in tre punti</h1>

    <ul class="list-group">
      <li class="list-group-item"><b>PUNTO 1: </b> Il sangue è un importantissimo tessuto non riproducibile in
        laboratorio che può salvare la vita di molte persone</li>
      <li class="list-group-item"><b>PUNTO 2: </b> In Italia ogni anno vengono trasfuse oltre 3 milioni di unità di
        emocomponenti (oltre 8mila al giorno) e più di 800mila kg di plasma sono utilizzati per la produzione di farmaci
        plasmaderivati</li>
      <li class="list-group-item"><b>PUNTO 3: </b> Per diventare donatori occorre avere un’età compresa tra 18 anni e i
        60 anni, un peso non inferiore a 50 Kg e godere di buona salute.
      </li>
    </ul>
    <p class="lead">

      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>