
    <br>
    <br>
  
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Tipologie di
                    conservazione</h2>
            </div>
    
    
            <div class="col-sm-8">
    
                <h3>Concentrati di globuli rossi:</h3>
                <h4>
                    Vengono conservati in appositi frigoriferi a una temperatura fra i +2°C e i +6°C, per un massimo di 42 giorni a seconda della soluzione additiva presente nella sacca.
                     I globuli rossi possono essere conservati anche congelati a –60°C per anni.
                    <h3>Concentrati di globuli bianchi:</h3>
                    Devono essere utilizzati entro poche ore dalla preparazione e comunque entro 24 ore.
                    <h3>Concentrati di piastrine:</h3>
                    Sono conservati a temperatura ambiente (+20-22°C) per un massimo di 5 giorni in costante agitazione.
                    <h3>Plasma:</h3>
                    Viene congelato rapidamente e, se conservato costantemente a temperatura inferiore a –25°C, può essere conservato fino a 24 mesi.
                </h4>
                <br>
                <br>
    
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <p>
            <img src="assets\images\AVIS-Il-sangue-03.png" aligne="middle" class="img-fluid">
    
            <p>
                <br>
    </div>
    <div class="container">
    <ul class="nav" style="font-size: 23px; margin-bottom: 30px; margin-top: 30px;">
        <li class="nav-item">
            <a class="btn btn-info" href="\chi-puo-donare" role="button"> ← Back</a>
        </li>
    </ul>
</div>