<div class="Divisore" style="margin-top: 30px;">
    <div style="TEXT-ALIGN: CENTER ;">
        <h1>IL SANGUE</h1>
    </div>
    <br>
    <br>
    <div class="container">

        <h4>Nel sangue, sono presenti cellule speciali, classificate in: eritrociti e leucociti.
            Sono presenti anche le piastrine, che non sono però considerate vere e proprie cellule.
            Di seguito, verranno descritte le differenti categorie di cellule del sangue.
        </h4>
        <br>
        <h4>
            Nei globuli rossi dei mammiferi, la mancanza del nucleo lascia più spazio all’emoglobina
            e la forma biconcava aumenta il rapporto tra la superficie e il volume citoplasmatico della cellula.
            Queste caratteristiche rendono più efficiente la diffusione dell’ossigeno da parte di queste cellule.
            Nella nota “anemia falciforme”, le emazie assumono una caratteristica forma a falce. Con il microscopio
            elettronico,
            si è visto che i globuli rossi possono essere di forme diverse: normali (discociti), a bacca (crenati), a
            riccio o spinosi (echinociti),
            codociti, dentellati, a fuso, a falce, a elmetto, appuntiti, indentati, poichilociti, etc. Gli eritrociti
            hanno una vita media di 120
            giorni. Giunti al termine della loro vita, essi vengono trattenuti dalla milza e fagocitati dai macrofagi.
        </h4>
        <br>
        <h4>
            La principale funzione delle piastrine, o trombociti, è di fermare la perdita di sangue nelle ferite
            (emostasi). A tale scopo, esse si aggregano e liberano fattori che promuovono la coagulazione del sangue.
            Fra queste c’è la serotonina che riduce il calibro dei vasi lesionati e rallenta il flusso ematico, la
            fibrina che intrappola
            cellule e forma il coagulo. Anche se appaiono di forma tondeggiante, le piastrine non sono propriamente
            delle cellule.
            Negli strisci colorati con il Giemsa, hanno un colore porpora intenso. Il loro diametro è di circa 2-3 µm,
            quindi sono assai
            più piccole degli eritrociti. La loro densità nel sangue è di 200000-300000 /mm3.
        </h4>
        <br>

        <h4>
            I leucociti, o globuli bianchi, sono incaricati della difesa dell’organismo. Nel sangue essi sono assai meno
            numerosi dei globuli rossi. La densità di leucociti nel sangue è di 5000-7000 /mm3. I leucociti si dividono
            in due categorie: granulociti e cellule linfoidi (o agranulociti). Il termine di granulociti è dovuto alla
            presenza
            di granuli nel citoplasma di queste cellule. Questi granuli sono differenti nei vari tipi di granulocita e
            ci aiutano
            a distinguerli. Infatti, questi granuli hanno una differente affinità verso i coloranti neutri, acidi o
            basici e fanno
            assumere al citoplasma un colore differente. I granulociti si distinguono dunque in neutrofili, eosinofili
            (o acidofili),
            basofili. Le cellule linfoidi, invece, si distinguono in linfociti e monociti.
        </h4>














    </div>
</div>